{% extends "partials/layout.html" %}

{% block contact %}
{% include "partials/contact.html" %}
{% endblock contact %}

{% block container_1 %}
{% include "partials/container_1.html" %}
{% endblock container_1 %}

{% block container %}
{% include "partials/container.html" %}
{% endblock container %}

{% block faq %}
{% include "partials/faq.html" %}
{% endblock faq %}

{% block footer %}
{% include "partials/footer.html" %}
{% endblock footer %}

{% block layout %}
{% include "partials/layout.html" %}
{% endblock layout %}

{% block newssection %}
{% include "partials/newssection.html" %}
{% endblock newssection %}

{% block ourteam %}
{% include "partials/ourteam.html" %}
{% endblock ourteam %}

{% block pricing %}
{% include "partials/pricing.html" %}
{% endblock pricing %}

{% block projectsection %}
{% include "partials/projectsection.html" %}
{% endblock projectsection %}

{% block script %}
{% include "partials/script.html" %}
{% endblock script %}

{% block services %}
{% include "partials/services.html" %}
{% endblock services %}

{% block site-navbar-top %}
{% include "partials/site-navbar-top.html" %}
{% endblock site-navbar-top %}

{% block sitesection_1 %}
{% include "partials/sitesection_1.html" %}
{% endblock sitesection_1 %}

{% block sitesection %}
{% include "partials/sitesection.html" %}
{% endblock sitesection %}

{% block testmonial %}
{% include "partials/testmonial.html" %}
{% endblock testmonial %}


